.container {
    padding: 60px;
    background-color: rgb(240, 136, 18);
    width: 100%;
}


.pos{
    display : flex;
    justify-content : left;
    align-items: normal;
}

.pos2{
    display : flex;
    justify-content: left;
    align-items: normal;
}
.bank {
    background-color: white;
    border: 1px solid grey;
    box-shadow: 4px 2px 40px grey;
    padding: 10px;
    border-radius: 5px;

}

.b-top {
    height: 140px;
}

.display {
    padding: 40px 60px 40px 60px;
    font-size: 51px;
    font-weight: 600;
    color: grey;
}

.b-bottom {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: auto auto auto auto;

}

.btn {
    padding: 46px;
    font-weight: 600;
    font-size: 22px;
    border-radius: 50%;
}

.btn:hover {
    background-color: rgb(202, 198, 198);
}

.text {
    font-size: 30px;
}


.bank2 {
    background-color: white;
    border: 1px solid grey;
    box-shadow: 4px 2px 40px grey;
    padding: 10px;
    border-radius: 5px;
}

.b-top2 {
    height: 140px;
}

.display {
    padding: 40px 60px 40px 60px;
    font-size: 51px;
    font-weight: 600;
    color: grey;
}

.b-bottom2 {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: auto auto auto auto;

}